*{
    margin: 0;
    padding: 0;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -30px;
    padding: 2px;
}
.logo {
    width: 5rem;
    position: relative;
    left: 2rem;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding-top: 1rem;
    padding-right: 0.75rem;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 5px 25px;
    font-size: 17px;
    
}
.header-link{

    color: rgb(41, 41, 41);
    text-decoration: none;
    font-family: sans-serif;
}

.log-btn{
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border:1px solid rgb(192, 192, 192);
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 185, 56),rgb(254, 108, 108));
    color: white;
}

/* Search Bar */
.search {
    text-align: center;
        
    }
    .search >input{
        margin: auto;
        justify-content: center;
        padding: 15px;
        width: 50%;
        border: none;
        border:1px solid rgb(192, 192, 192);
        border-radius: 5px;
    
    }
.search > .search-btn{
    padding: 1rem;
    background-color: transparent;
    border: none;
    border:1px solid rgb(192, 192, 192);
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 185, 56),rgb(254, 108, 108));
    color: white;
}


/* filter */
.filter{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.filter h4{
    color: gray;
    margin-top: 2px;
}
.filter div{
    margin: 1rem;
}
.filter button {
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border:1px solid rgb(192, 192, 192);

    border-radius: 10px;
}




 /* Body    */
.body{
    padding:  2rem;
    margin: auto;
}

.body a{
   text-decoration: none;
   
}

/* Card container */
.resto-container{
display: flex;
flex-wrap:wrap ;
margin: auto;
justify-content: center;
padding-top: 20px;
}

/* Resto Card */
.resto-card{
    width: 280px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
    font-family:sans-serif;
    transition:all 0.25s ease-in-out;
  color: rgb(41, 41, 41);;
}
.resto-card:hover{
    position: relative;
    transform: scaleY(94%);
    cursor: pointer;
}
.resto-card > h3 {
    padding: 10px 0px;
    font-size: 20px;
    
}
.resto-card > h4 {
    padding: 10px 0px;
    color: gray;
    font-size: 14px;
    font-weight: lighter;
}

    



/* Content of Card */
.food-img{
    width: 100%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
    height: 200px;
}
.card-review {
    justify-content: space-between;
}
.card-review >h4{
    color: gray;
    font-size: 14px;
    font-weight: lighter;
}
.card-review span{
    background-color: rgb(39, 125, 39);
    color: white;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: lighter;
    border-radius: 2px;

}

/* ResInfo */
.resInfo-container
{
    padding: 1rem;
    margin: auto;
    width: 55%;
}
.resInfo-header{
    display: flex;
    justify-content: space-between;
    color: rgb(41, 41, 41);
    margin-top: 1.5rem;
}

.resInfo-header  h3{
    margin: 0.5rem 0rem;
    font-family: sans-serif;
}
.resInfo-header h4{
    font-weight:lighter;
    margin: 0.5rem 0rem;
    color: gray;
}
.resInfo-extra{
    display: flex;
   
}
.resInfo-extra h4{
    margin: 0.5rem 1rem 0rem 0rem;
    font-family:ProximaNova,arial,Helvetica Neue,sans-serif;
    font-size: 14px;
    color: rgb(41,41,41);
}
.resInfo-header span{
    /* background-color: rgb(39, 125, 39); */
    color: rgb(39, 125, 39);
    padding: 10px 5px;
    font-size: 10px;
    font-weight: light;
    border-radius: 2px;
    font-family: sans-serif;
    text-align: center;
    
}
.resInfo-rating{
    border: 1px solid rgb(229, 229, 229);
    display:grid;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.resInfo-rating hr{
    
    width: 70%;
    border: none;
    border-top:0.5px solid rgb(229, 229, 229);
    margin: auto;
}


/* menu items */

.resInfo-menu h2{
    color: rgb(57, 57, 57);
    font-family: sans-serif;
    font-size: 20px;
}
.item-card
{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: rgb(41, 41, 41);
    margin-top: 1.5rem;
    font-family: sans-serif;
}
.item-img{
    display: grid;
    position: relative;
    justify-items: flex-end;
}
.item-img .item-button{
   position: absolute;
   bottom: 0;
   right: 15%;
   color: green;
   text-align: center;
   background-color: white;
   font-weight: bold;
   padding: 0.5rem 1rem;
   width: 70%;
   border-radius: 5px;
   box-shadow: rgba(249, 249, 249, 0.25) 0px 6px 12px -2px, rgba(247, 246, 246, 0.3) 0px 3px 7px -3px;
   border:1px solid rgb(164, 162, 162);
}
.item-img img{
    width: 130px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    height: 110px;
}
.item-details h4{
    color: rgb(167, 167, 167);
    font-weight: lighter;
    margin: 0.5rem 0rem;
    font-size: 13px;
    line-height: 20px;
    width: 90%;
}
.item-details h3{
    font-size: 15px;
}





/* Shimmer */
.shimmer{
    margin: auto;
    margin-top: 40px;
}
.search-shimmer-card{
    margin: auto;
    justify-content: center;
    padding: 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    
    background-color: rgb(241, 240, 240);
}
.filter-shimmer-card{
   text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.filter-shimmer-card div{
    height: 50px;
    width: 100px;
    margin: 1rem;
    border-radius: 10px;
    background-color: rgb(241, 240, 240);
}
.shimmer-container{
    display: flex;
flex-wrap:wrap ;
margin: auto;
justify-content: center;
padding-top: 20px;

}
.shimmer-card{
    width: 280px;
   
    border-radius: 20px;
    height: 200px;
    background-color: rgb(241, 240, 240);
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
}
